.link-item{
    color: white;
}

.home-cointainer{
    padding: 3em;
    max-width: 1000px;
    margin: 0 auto;
}

h1{
    text-align: center;
    margin-top: 1em;
}

p{
    font-size: 1.2em;
    text-align: center;
    margin-top: 2em;
}