<nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse show" id="navbarsExample01">
        <ul class="navbar-nav me-auto mb-2">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/home">Home</a>
              </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/produtos">Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/clientes">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/pedidos">Pedidos</a>
          </li>
        </ul>
        <form>
            <a class ="link-item" href="/login">Entrar/</a>
            <a class="link-item" href="/cadastro">Cadastrar</a>
        </form>
      </div>
    </div>
  </nav>

  <div class="home-container">
    <div class="bem-vindo">
      <h1>Resumo</h1>
    </div>
    <div class="texto">
      <p>Esse projeto está sendo criado na intenção de implementar uma API REST e front para cadastro de clientes, pedidos e seus respectivos produtos</p>
    </div>
  </div>