.cointainer{
    padding: 3em;
    max-width: 1000px;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.login-container{
    display: flex;
    width: 100%;
    padding-top: 5em;
}

.form-login{
    width: 50%;
    padding: 2em;
    border: 1px solid #000000;
}

form .form-group{
    margin-bottom: 1em;
}

form label{
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

form input[type="text"], form input[type="password"], form input[type="number"] {
    width: 50%;
    padding: 0.3em 0.3em;
    margin-bottom: 0.5em;
    font-size: 1em;
}

form button{
    background-color: #0d6efd;
    color: white;
    text-align: center;
    padding: 0.3em 0.6em;
    outline: none;
    cursor: pointer;
    font-size: 1.2em;
}

form p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.link-item{
    color: white;
    text-align: right;
}